{{#if author}}
  <footer class="uikit-footer">
    <span class="copyright">Powered by <a href="{{#if authorUrl}}{{authorUrl}}{{else}}/{{/if}}" target="_blank">{{author}}</a></span>
  </footer>
{{/if}}
