{{#if uikit.author}}
  <footer class="uikit-footer">
    <span class="copyright">Powered by <a href="{{#if uikit.authorUrl}}{{uikit.authorUrl}}{{else}}/{{/if}}" target="_blank">{{uikit.author}}</a></span>
  </footer>
{{/if}}