{{!UI Kit}}

{{> core/ui-kit/layout/head}}

<main class="uikit">
  <aside class="uikit-aside js-drawer">
    <div class="js-drawer-container">
      <div class="uikit-aside__heading">
        {{>ui-kit/core/logo }}
      </div>
      <nav class="uikit-aside__content">
        <ul class="uikit-aside__nav js-uikit-autogenerator-append"></ul>
      </nav>
    </div>
  </aside>
  <section class="uikit-main">
    <header class="uikit-header js-uikit-header">
      <button class="uikit-btn js-drawer-toggle" type="button">
        <div class="js-drawer-burger"><span></span></div>
      </button>
      {{>ui-kit/core/title }}
    </header>
    <div class="uikit-content-container">
      <div class="uikit-content js-uikit-autogenerator">
        {{> ui-toolkit}}
      </div>
    </div>
    {{> ui-kit/core/footer}}
  </section>
</main>

{{> popups/example}}

{{> core/ui-kit/layout/bottom }}
