<section class="uikit-section" {{#if id}}id="{{id}}"{{/if}}>
  <header class="uikit-section__header">
    <h2 class="uikit-section__title">{{title}}</h2>
  </header>
  <div class="uikit-section__content">
    {{> @partial-block}}
  </div>
</section>
