<section class="uikit-section" id="colors">
  <header class="uikit-section__header">
    <h2 class="uikit-section__title">Colors</h2>
  </header>
  <div class="uikit-section__content">
    <table class="ui-colors">
      <thead>
      <tr>
        <td>Name</td>
        <td>Color</td>
        <td>HEX</td>
        <td>RGB</td>
      </tr>
      </thead>
      <tbody>
      {{> @partial-block}}
      </tbody>
    </table>
  </div>
</section>
