<div class="uikit-subsection" id="{{id}}">
  {{#if title}}
    <span class="uikit-subsection__title js-uikit-autogenerator-subtitle">{{title}}</span>
  {{/if}}
  <div class="uikit-subsection__content">
    {{> @partial-block}}
  </div>
</div>
