<div class="uikit-cell">
  <div class="uikit-widget {{#if background}}uikit-widget--background{{/if}}">
    <span class="uikit-widget__title">{{title}}</span>
    <div class="uikit-widget__content">
      <div class="uikit-widget__content-inner" style="width:{{width}}px">
        {{> @partial-block}}
      </div>
    </div>
  </div>
</div>
