.fixed-scroll {
  overflow: hidden;

  @include mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.scroll-measure {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: -100;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

._mobile {
  &-visible {
    @include no-mobile {
      display: none !important;
    }
  }

  &-hidden {
    @include mobile {
      display: none !important;
    }
  }
}

._smallTablet {
  &-visible {
    display: none;

    @include smallTablet-and-mobile {
      display: block !important;
    }
  }

  &-hidden {
    display: block;

    @include smallTablet-and-mobile {
      display: none;
    }
  }
}

._tablet {
  &-visible {
    display: none;

    @include tablet-and-mobile {
      display: block !important;
    }
  }

  &-hidden {
    display: block;

    @include tablet-and-mobile {
      display: none;
    }
  }
}
