.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

  .icon-btn-arrow {
    font-size:(12/10)*1rem;
    width:(12/12)*1em;
  }
  .icon-btn-user {
    font-size:(12/10)*1rem;
    width:(12/12)*1em;
  }
