$icons: (
        sprite: (width: 1333px, height: 1208px, pngPath: '../images/svg/build/sprite.png', svgPath: '../images/svg/build/sprite.svg'),
all_vacancies: (width: 17px, height: 13px, backgroundX: 0px, backgroundY: 0px),
armed_escort_green: (width: 50px, height: 50px, backgroundX: -17px, backgroundY: -13px),
arrow_bottom: (width: 8px, height: 5px, backgroundX: -67px, backgroundY: -63px),
arrow_bottom2: (width: 8px, height: 6px, backgroundX: -75px, backgroundY: -68px),
arrow_bottom_green: (width: 6.969px, height: 4px, backgroundX: -83px, backgroundY: -74px),
arrow_pag: (width: 15.781px, height: 11.656px, backgroundX: -90px, backgroundY: -78px),
arrow_top: (width: 8px, height: 5px, backgroundX: -106px, backgroundY: -90px),
burger_black: (width: 12px, height: 7px, backgroundX: -114px, backgroundY: -95px),
calendar: (width: 15px, height: 16px, backgroundX: -126px, backgroundY: -102px),
check: (width: 16px, height: 12px, backgroundX: -141px, backgroundY: -118px),
checkbox: (width: 9px, height: 7px, backgroundX: -157px, backgroundY: -130px),
choice_file: (width: 11px, height: 16px, backgroundX: -166px, backgroundY: -137px),
circle_arrow: (width: 14px, height: 14px, backgroundX: -177px, backgroundY: -153px),
close: (width: 9px, height: 9px, backgroundX: -191px, backgroundY: -167px),
close_popup: (width: 17.44px, height: 17.438px, backgroundX: -200px, backgroundY: -176px),
delivery_green: (width: 68px, height: 51px, backgroundX: -218px, backgroundY: -194px),
diamond: (width: 24.875px, height: 23.25px, backgroundX: -286px, backgroundY: -245px),
edit_offers: (width: 12px, height: 12px, backgroundX: -311px, backgroundY: -269px),
facebook: (width: 15px, height: 15px, backgroundX: -323px, backgroundY: -281px),
facebook_share: (width: 15px, height: 15px, backgroundX: -338px, backgroundY: -296px),
folder: (width: 16px, height: 14px, backgroundX: -353px, backgroundY: -311px),
google: (width: 15px, height: 15px, backgroundX: -369px, backgroundY: -325px),
google_share: (width: 15px, height: 15px, backgroundX: -384px, backgroundY: -340px),
jewellery: (width: 24px, height: 26px, backgroundX: -399px, backgroundY: -355px),
like_post: (width: 11px, height: 10px, backgroundX: -423px, backgroundY: -381px),
linkedin: (width: 15px, height: 15px, backgroundX: -434px, backgroundY: -391px),
linkedin_share: (width: 15px, height: 15px, backgroundX: -449px, backgroundY: -406px),
lombard_social_facebook: (width: 7px, height: 13px, backgroundX: -464px, backgroundY: -421px),
lombard_social_google: (width: 16px, height: 14px, backgroundX: -471px, backgroundY: -434px),
lombard_social_insta: (width: 14px, height: 14px, backgroundX: -487px, backgroundY: -448px),
lombard_social_linkedin: (width: 13px, height: 12px, backgroundX: -501px, backgroundY: -462px),
lombard_social_twitter: (width: 16px, height: 11px, backgroundX: -514px, backgroundY: -474px),
menu: (width: 16px, height: 10px, backgroundX: -530px, backgroundY: -485px),
message: (width: 16px, height: 12px, backgroundX: -546px, backgroundY: -495px),
photo_exchange: (width: 14px, height: 14px, backgroundX: -562px, backgroundY: -507px),
po_questions_green: (width: 22px, height: 22px, backgroundX: -576px, backgroundY: -521px),
po_questions_grey: (width: 22px, height: 22px, backgroundX: -598px, backgroundY: -543px),
po_questions_red: (width: 25.68px, height: 22.25px, backgroundX: -620px, backgroundY: -565px),
po_questions_yellow: (width: 19px, height: 22px, backgroundX: -646px, backgroundY: -588px),
pointer: (width: 58px, height: 72px, backgroundX: -665px, backgroundY: -610px),
quotes: (width: 47px, height: 37px, backgroundX: -723px, backgroundY: -682px),
rf_black2: (width: 32.312px, height: 14.9px, backgroundX: -770px, backgroundY: -719px),
rf_red: (width: 56px, height: 26px, backgroundX: -803px, backgroundY: -734px),
safe: (width: 24px, height: 24px, backgroundX: -859px, backgroundY: -760px),
search: (width: 14.344px, height: 14.344px, backgroundX: -883px, backgroundY: -784px),
shield: (width: 23.688px, height: 24px, backgroundX: -898px, backgroundY: -799px),
slider_arrow: (width: 9.97px, height: 16px, backgroundX: -922px, backgroundY: -823px),
slider_lombard_card: (width: 13px, height: 16px, backgroundX: -932px, backgroundY: -839px),
tabs_book_dark: (width: 16px, height: 15px, backgroundX: -945px, backgroundY: -855px),
tabs_book_green: (width: 16px, height: 15px, backgroundX: -961px, backgroundY: -870px),
tabs_message_dark: (width: 16px, height: 16px, backgroundX: -977px, backgroundY: -885px),
tabs_message_green: (width: 16px, height: 16px, backgroundX: -993px, backgroundY: -901px),
tabs_micr_dark: (width: 12px, height: 16px, backgroundX: -1009px, backgroundY: -917px),
tabs_micr_green: (width: 12px, height: 16px, backgroundX: -1021px, backgroundY: -933px),
tabs_star_dark: (width: 16px, height: 16px, backgroundX: -1033px, backgroundY: -949px),
tabs_star_green: (width: 16px, height: 16px, backgroundX: -1049px, backgroundY: -965px),
tabs_video_dark: (width: 16px, height: 16px, backgroundX: -1065px, backgroundY: -981px),
tabs_video_green: (width: 16px, height: 16px, backgroundX: -1081px, backgroundY: -997px),
twitter: (width: 15px, height: 15px, backgroundX: -1097px, backgroundY: -1013px),
twitter_share: (width: 15px, height: 15px, backgroundX: -1112px, backgroundY: -1028px),
value_pledge_black: (width: 69.719px, height: 49.719px, backgroundX: -1127px, backgroundY: -1043px),
value_pledge_green: (width: 69.719px, height: 49.719px, backgroundX: -1197px, backgroundY: -1093px),
vkontakte: (width: 11px, height: 12px, backgroundX: -1267px, backgroundY: -1143px),
watch: (width: 25px, height: 23px, backgroundX: -1278px, backgroundY: -1155px),
youtube: (width: 15px, height: 15px, backgroundX: -1303px, backgroundY: -1178px),
youtube_share: (width: 15px, height: 15px, backgroundX: -1318px, backgroundY: -1193px),
);