$icons: (
        sprite: (width: 1934px, height: 1838px, pngPath: '../images/svg/sprite.png', svgPath: '../images/svg/sprite.svg'),
all_vacancies: (width: 17px, height: 13px, backgroundX: 0px, backgroundY: 0px),
antiques: (width: 43.532px, height: 37.5px, backgroundX: -17px, backgroundY: -13px),
arrow_bottom: (width: 8px, height: 6px, backgroundX: -61px, backgroundY: -51px),
arrow_bottom2: (width: 8px, height: 6px, backgroundX: -69px, backgroundY: -57px),
arrow_bottom_green: (width: 6.969px, height: 4px, backgroundX: -77px, backgroundY: -63px),
arrow_filter_close: (width: 10px, height: 6px, backgroundX: -84px, backgroundY: -67px),
arrow_filter_open: (width: 10px, height: 6px, backgroundX: -94px, backgroundY: -73px),
arrow_pag: (width: 15.781px, height: 11.656px, backgroundX: -104px, backgroundY: -79px),
arrow_top: (width: 8px, height: 5px, backgroundX: -120px, backgroundY: -91px),
best-lombard: (width: 22px, height: 22px, backgroundX: -128px, backgroundY: -96px),
best-lombard-white: (width: 22px, height: 22px, backgroundX: -150px, backgroundY: -118px),
burger_black: (width: 12px, height: 7px, backgroundX: -172px, backgroundY: -140px),
burger_gray: (width: 16px, height: 10px, backgroundX: -184px, backgroundY: -147px),
burger_green: (width: 16px, height: 10px, backgroundX: -200px, backgroundY: -157px),
calendar: (width: 15px, height: 16px, backgroundX: -216px, backgroundY: -167px),
car: (width: 43.562px, height: 31.906px, backgroundX: -231px, backgroundY: -183px),
check: (width: 16px, height: 12px, backgroundX: -275px, backgroundY: -215px),
checkbox: (width: 9px, height: 7px, backgroundX: -291px, backgroundY: -227px),
choice_file: (width: 11px, height: 16px, backgroundX: -300px, backgroundY: -234px),
circle_arrow: (width: 14px, height: 14px, backgroundX: -311px, backgroundY: -250px),
clock: (width: 34.531px, height: 37.469px, backgroundX: -325px, backgroundY: -264px),
close: (width: 9px, height: 9px, backgroundX: -360px, backgroundY: -302px),
close_green: (width: 9px, height: 9px, backgroundX: -369px, backgroundY: -311px),
close_popup: (width: 17.44px, height: 17.438px, backgroundX: -378px, backgroundY: -320px),
edit_offers: (width: 12px, height: 12px, backgroundX: -396px, backgroundY: -338px),
equipment: (width: 49.531px, height: 39px, backgroundX: -408px, backgroundY: -350px),
facebook: (width: 15px, height: 15px, backgroundX: -458px, backgroundY: -389px),
facebook_share: (width: 15px, height: 15px, backgroundX: -473px, backgroundY: -404px),
facebook_share_light: (width: 15px, height: 15px, backgroundX: -488px, backgroundY: -419px),
facebook_white: (width: 15px, height: 15px, backgroundX: -503px, backgroundY: -434px),
folder: (width: 16px, height: 14px, backgroundX: -518px, backgroundY: -449px),
form_file: (width: 11px, height: 16px, backgroundX: -534px, backgroundY: -463px),
fur: (width: 37.531px, height: 37.969px, backgroundX: -545px, backgroundY: -479px),
gallery_play: (width: 9px, height: 12px, backgroundX: -583px, backgroundY: -517px),
google: (width: 15px, height: 15px, backgroundX: -592px, backgroundY: -529px),
google_share: (width: 15px, height: 15px, backgroundX: -607px, backgroundY: -544px),
google_share_light: (width: 15px, height: 15px, backgroundX: -622px, backgroundY: -559px),
google_white: (width: 15px, height: 15px, backgroundX: -637px, backgroundY: -574px),
jeweler: (width: 31.5px, height: 37.5px, backgroundX: -652px, backgroundY: -589px),
jewellery: (width: 24px, height: 26px, backgroundX: -684px, backgroundY: -627px),
like_post: (width: 11px, height: 10px, backgroundX: -708px, backgroundY: -653px),
linkedin: (width: 15px, height: 15px, backgroundX: -719px, backgroundY: -663px),
linkedin_share: (width: 15px, height: 15px, backgroundX: -734px, backgroundY: -678px),
linkedin_share_light: (width: 15px, height: 15px, backgroundX: -749px, backgroundY: -693px),
linkedin_white: (width: 15px, height: 15px, backgroundX: -764px, backgroundY: -708px),
lombard_list: (width: 19px, height: 12px, backgroundX: -779px, backgroundY: -723px),
lombard_list_white: (width: 19px, height: 12px, backgroundX: -798px, backgroundY: -735px),
lombard_map: (width: 19px, height: 24px, backgroundX: -817px, backgroundY: -747px),
lombard_map_white: (width: 19px, height: 24px, backgroundX: -836px, backgroundY: -771px),
lombard_social_facebook: (width: 7px, height: 13px, backgroundX: -855px, backgroundY: -795px),
lombard_social_facebook_green: (width: 7px, height: 13px, backgroundX: -862px, backgroundY: -808px),
lombard_social_google: (width: 16px, height: 14px, backgroundX: -869px, backgroundY: -821px),
lombard_social_google_green: (width: 16px, height: 14px, backgroundX: -885px, backgroundY: -835px),
lombard_social_insta: (width: 14px, height: 14px, backgroundX: -901px, backgroundY: -849px),
lombard_social_insta_green: (width: 14px, height: 14px, backgroundX: -915px, backgroundY: -863px),
lombard_social_linkedin: (width: 13px, height: 12px, backgroundX: -929px, backgroundY: -877px),
lombard_social_linkedin_green: (width: 13px, height: 12px, backgroundX: -942px, backgroundY: -889px),
lombard_social_twitter: (width: 16px, height: 11px, backgroundX: -955px, backgroundY: -901px),
lombard_social_twitter_green: (width: 16px, height: 11px, backgroundX: -971px, backgroundY: -912px),
map_bullet: (width: 58px, height: 72px, backgroundX: -987px, backgroundY: -923px),
menu: (width: 16px, height: 10px, backgroundX: -1045px, backgroundY: -995px),
message: (width: 16px, height: 12px, backgroundX: -1061px, backgroundY: -1005px),
mobile_btn: (width: 16px, height: 10px, backgroundX: -1077px, backgroundY: -1017px),
photo_exchange: (width: 14px, height: 14px, backgroundX: -1093px, backgroundY: -1027px),
po_questions_green: (width: 22px, height: 22px, backgroundX: -1107px, backgroundY: -1041px),
po_questions_grey: (width: 22px, height: 22px, backgroundX: -1129px, backgroundY: -1063px),
po_questions_red: (width: 25.68px, height: 22.25px, backgroundX: -1151px, backgroundY: -1085px),
po_questions_yellow: (width: 19px, height: 22px, backgroundX: -1177px, backgroundY: -1108px),
pointer: (width: 58px, height: 72px, backgroundX: -1196px, backgroundY: -1130px),
quotes: (width: 47px, height: 37px, backgroundX: -1254px, backgroundY: -1202px),
range_handle: (width: 16px, height: 31px, backgroundX: -1301px, backgroundY: -1239px),
realty: (width: 37.562px, height: 38px, backgroundX: -1317px, backgroundY: -1270px),
reset: (width: 15px, height: 18px, backgroundX: -1355px, backgroundY: -1308px),
rf_black2: (width: 32.312px, height: 14.9px, backgroundX: -1370px, backgroundY: -1326px),
rf_red: (width: 56px, height: 26px, backgroundX: -1403px, backgroundY: -1341px),
search: (width: 14.344px, height: 14.344px, backgroundX: -1459px, backgroundY: -1367px),
slider_arrow: (width: 9.97px, height: 16px, backgroundX: -1474px, backgroundY: -1382px),
slider_lombard_card: (width: 13px, height: 16px, backgroundX: -1484px, backgroundY: -1398px),
star_gray: (width: 16px, height: 16px, backgroundX: -1497px, backgroundY: -1414px),
star_green: (width: 16px, height: 16px, backgroundX: -1513px, backgroundY: -1430px),
star_red: (width: 16px, height: 16px, backgroundX: -1529px, backgroundY: -1446px),
star_white: (width: 16px, height: 16px, backgroundX: -1545px, backgroundY: -1462px),
tabs_book_dark: (width: 16px, height: 15px, backgroundX: -1561px, backgroundY: -1478px),
tabs_book_green: (width: 16px, height: 15px, backgroundX: -1577px, backgroundY: -1493px),
tabs_message_dark: (width: 16px, height: 16px, backgroundX: -1593px, backgroundY: -1508px),
tabs_message_green: (width: 16px, height: 16px, backgroundX: -1609px, backgroundY: -1524px),
tabs_micr_dark: (width: 12px, height: 16px, backgroundX: -1625px, backgroundY: -1540px),
tabs_micr_green: (width: 12px, height: 16px, backgroundX: -1637px, backgroundY: -1556px),
tabs_star_dark: (width: 16px, height: 16px, backgroundX: -1649px, backgroundY: -1572px),
tabs_star_green: (width: 16px, height: 16px, backgroundX: -1665px, backgroundY: -1588px),
tabs_video_dark: (width: 16px, height: 16px, backgroundX: -1681px, backgroundY: -1604px),
tabs_video_green: (width: 16px, height: 16px, backgroundX: -1697px, backgroundY: -1620px),
twitter: (width: 15px, height: 15px, backgroundX: -1713px, backgroundY: -1636px),
twitter_share: (width: 15px, height: 15px, backgroundX: -1728px, backgroundY: -1651px),
twitter_share_light: (width: 15px, height: 15px, backgroundX: -1743px, backgroundY: -1666px),
twitter_white: (width: 15px, height: 15px, backgroundX: -1758px, backgroundY: -1681px),
value_pledge_black: (width: 69.719px, height: 49.719px, backgroundX: -1773px, backgroundY: -1696px),
vkontakte: (width: 11px, height: 12px, backgroundX: -1843px, backgroundY: -1746px),
worktime: (width: 20px, height: 20px, backgroundX: -1854px, backgroundY: -1758px),
youtube: (width: 15px, height: 15px, backgroundX: -1874px, backgroundY: -1778px),
youtube_share: (width: 15px, height: 15px, backgroundX: -1889px, backgroundY: -1793px),
youtube_share_light: (width: 15px, height: 15px, backgroundX: -1904px, backgroundY: -1808px),
youtube_white: (width: 15px, height: 15px, backgroundX: -1919px, backgroundY: -1823px),
);