$icons: (
        sprite: (width: 36px, height: 36px, pngPath: '../images/svg/sprite.png', svgPath: '../images/svg/sprite.svg'),
btn-arrow: (width: 12px, height: 12px, backgroundX: 0px, backgroundY: 0px),
btn-arrow-d: (width: 12px, height: 12px, backgroundX: -12px, backgroundY: -12px),
btn-user: (width: 12px, height: 12px, backgroundX: -24px, backgroundY: -24px),
);