<div style="background-color: rgba(255, 255, 255, .5);" data-popup-id="ajax-1">
  <h1 class="">
    Добавление нового контрагента - ИП
  </h1>

  <div class="">
    <img src="https://cdn-images-1.medium.com/max/1600/1*tSyuv3ZRCfsSD5aXB7v8DQ.png" alt="">
  </div>
</div>