.btn-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
