.img-container {
  .ls-blur-up-is-loading,
  .lazy:not([src]) {
    visibility: hidden;
  }

  .ls-blur-up-img {
    @include fill();
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1s ease;
  }

  .ls-blur-up-img.ls-inview.ls-original-loaded {
    opacity: 0;
  }

  &.is-contain {
    img {
      object-fit: contain;
      font-family: "object-fit: contain";
    }
  }

  &.is-cover {
    img {
      object-fit: cover;
      font-family: "object-fit: cover";
    }
  }
}