$fonts_dir: '../fonts/';

@mixin font($family, $name) {
  $font_file_path: $fonts_dir + $family;

  @font-face {
    font-family: $name;
    src: url($font_file_path+'.woff') format('woff'), url($font_file_path+'.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin font-mixin($font_name) {
  font-family: '#{$font_name}', 'Arial', 'Helvetica', 'Tahoma', sans-serif;
  font-weight: normal;
  font-style: normal;
}

@include font('Roboto/Regular', 'Roboto-Regular');
@mixin regular() {
  @include font-mixin('Roboto-Regular');
}

@include font('Roboto/Medium', 'Roboto-Medium');
@mixin medium() {
  @include font-mixin('Roboto-Medium');
}

@include font('Roboto/Bold', 'Roboto-Bold');
@mixin bold() {
  @include font-mixin('Roboto-Bold');
}
