//Container Width

$desktopWidth: 940px;
$tabletWidth: 700px;

//Media query

$desktopMedia: 980px;
$tablet-and-phoneMedia: 959px;
$tabletMedia: 979px;
$mobileMedia: 767px;

//Container gutter

$gutter: 10px;