//Container Width
$desktopWidth: 1240px;
$laptopWidth: 960px;
$tabletWidth: 720px;

//Media query
$laptopMedia: 1279px;
$tabletMedia: 1023px;
$mobileMedia: 767px;

//Container gutter
$desktopGutter: 10px;
$laptopGutter: 10px;
$tabletGutter: 10px;
$mobileGutter: 10px;

//Grid gutter
$gridGutter: 10px;
