// Colors
$primary-color: #00b763;
$secondary-color: #07a15a;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$light-color: #17a2b8;
$dark-color: #0e0321;

//css
$border-radius: 4px;
$letter: 0.03125rem;
