// Colors
$primary-color: #007bff;
$secondary-color: #868e96;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$light-color: #17a2b8;
$dark-color: #343a40;

//css
$border-radius: 4px;

