.popup-overlay {
  position: fixed;
  overflow-x: hidden;
  background: rgba(39, 37, 38, 0.56);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include transition(0.3s);
  z-index: 1;

  &.not-visible {
    background: transparent;
  }
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 10px;
  opacity: 0;
  @include transition;
  background: #FFFFFF;
  min-width: 828px;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 2;

  @include tablet-and-mobile {
    max-width: 95%;
    min-width: 0;
  }

  &.opened {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  &__header {
    height: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 0 15px;
  }

  &__title {
    display: block;
    text-align: center;
    font-size: 48px;
    line-height: 64px;
  }

  &__close {
    @include transition;
    border-radius: 4px;
    position: absolute;
    right: 31px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;

    &:before {
      content: '';
      @include sprite('popup-close');
      @include align();
    }
  }

  &__content {
    padding: 20px;
    background: #FAFAFA;
    position: relative;
  }
}
