// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-red: #FF0000;

$color-primary: #DD6900;
$color-primary-hover: darken($color-primary, 5%);
$color-secondary: #1B74FD;
$color-secondary-hover: darken($color-secondary, 5%);

$color-placeholder: rgba(5, 36, 51, 0.2);
$color-input-border: #DAE4ED;
