//Container Width
$desktopWidth: 1440px;

//Media query
$tabletMedia: 1279px;
$mobileMedia: 767px;

//Container gutter
$desktopGutter: 20px;
$tabletGutter: 20px;
$mobileGutter: 10px;

//Grid gutter
$gridGutter: 10px;
