<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="../cms/tpl/default/js/build/plugins.min.js"></script>
<script src="../cms/tpl/default/js/build/scripts.js"></script>

</body>
</html>
