{{> helpers/script src="libs" }}

{{#ifCond config.buildMode 'dev'}}
    {{> helpers/script src="main" }}
{{else ifCond config.buildMode 'prod'}}
    {{> helpers/script src="polyfills" }}
    {{> helpers/script src="scroll-control" }}
    {{> helpers/script src="preloader" }}
    {{> helpers/script src="ui" }}
{{/ifCond}}

</body>
</html>
