<!-- build:scripts -->
<script src="libs.js"></script>

<script src="polyfills.js?v={{cache}}"></script>
<script src="scroll-control.js?v={{cache}}"></script>
<script src="preloader.js?v={{cache}}"></script>

<script src="ui.js?v={{cache}}"></script>
<!-- endbuild -->

</body>
</html>
