<script src="libs.js?v={{cache}}"></script>

{{> other/script src="polyfills" }}
{{> other/script src="scroll-control" }}
{{> other/script src="preloader" }}

<script src="ui.js?v={{cache}}"></script>

</body>
</html>
