{{> helpers/script src="libs" }}

{{#if dynamicEntry}}
  {{> helpers/script src="layout" }}
  {{> helpers/script src="scroll-control" }}
  {{> helpers/script src="preloader" }}
  {{> helpers/script src="popups" }}
  {{> helpers/script src="ui" }}
{{else}}
  {{> helpers/script src="main" }}
{{/if}}

</body>
</html>
