<!-- build:scripts -->
<script src="libs.js"></script>

<script src="polyfills.js"></script>
<script src="scrollControl.js"></script>
<script src="preloader.js"></script>

<script src="ui.js?v={{cache}}"></script>
<!-- endbuild -->

</body>
</html>
