{{> helpers/script src="vendors" }}

{{#if dynamicEntry}}
  {{> helpers/script src="layout" }}
  {{> helpers/script src="scroll-observer" }}
  {{> helpers/script src="resize-observer" }}
  {{> helpers/script src="scroll-control" }}
  {{> helpers/script src="preloader" }}
  {{> helpers/script src="popups" }}
  {{> helpers/script src="app" }}
{{else}}
  {{> helpers/script src="main" }}
{{/if}}

</body>
</html>
