<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">

    <meta name="author" content="BLAKIT, blak-it.com">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">

    <link rel="shortcut icon" sizes="32x32" href="/static/images/meta/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/static/images/meta/apple-touch-icon.png">

    <link rel="stylesheet" href="../static/css/main.css">

    <title>Заголовок сайта</title>
</head>

<body {{#if body_class}}class="{{body_class}}"{{/if}}>