{{> layout/head}}
<div class="wrapper">
  <div class="wrapper__wrap">
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <div class="header__logo">
            <a href="#" class="header__logo-link">
              <img class="header__logo-img" src="https://loremcare.co.uk/wp-content/themes/Sitessmart-Innovate/images/logo.png" alt="Logo">
            </a>
          </div>
          <div class="header__right">
            <div class="header__nav">
              {{>blocks/nav}}
            </div>
            <div class="header__action">
              <button class="btn btn-primary"></button>
            </div>
          </div>
        </div>

      </div>
    </header>

    <div class="wrapper__inner">


