<section class="uikit-section js-uikit-accord" id="colors">
  <header class="uikit-section__header">
    <h2 class="uikit-section__title js-uikit-autogenerator-title js-uikit-accord__toggle">Colors</h2>
  </header>
  <div class="uikit-section__content js-uikit-accord__body">
    <div class="uikit-section__content-container">
      <table class="uikit-colors">
        <thead>
          <tr>
            <td>Name</td>
            <td>Color</td>
            <td>HEX</td>
            <td>RGB</td>
          </tr>
        </thead>
        <tbody>
          {{> @partial-block}}
        </tbody>
      </table>
    </div>
  </div>

  <div class="uikit-section__copy-message js-copy-message">Copied to clipboard</div>
</section>
