<section class="uikit-section js-uikit-accord opened" {{#if id}}id="{{id}}"{{/if}}>
  <header class="uikit-section__header">
    <h2 class="uikit-section__title js-uikit-autogenerator-title js-uikit-accord__toggle">{{title}}</h2>
  </header>
  <div class="uikit-section__content js-uikit-accord__body">
    <div class="uikit-section__content-container">
      {{> @partial-block}}
    </div>
  </div>
</section>
