<div class="uikit-cell {{#if background}}uikit-cell--background{{/if}}">
  <div class="uikit-widget">
    <span class="uikit-widget__title">{{title}}</span>
    <div class="uikit-widget__content">
      <div class="uikit-widget__content-inner" style="max-width:{{width}}px">
        {{> @partial-block}}
      </div>
    </div>
  </div>
</div>
