@mixin ui-font-title($size: 20px, $weight: bold, $lh: 1.3) {
  color: $color-gray-100;
  font-size: $size;
  font-weight: $weight;
  line-height: $lh;
}

.ui {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 10px;
  width: 100%;

  i {
    display: block;
    font-style: italic;
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 4px;
    text-align: center;
  }

  &__title {
    text-align: center;
    padding: 30px 0;
    flex-shrink: 0;
  }

  &__container {
    flex-shrink: 0;
    flex: 1;
    //background-color: #fcfcfc;
    margin: 0 -10px;
    display: flex;

    @include tablet-and-mobile {
      flex-direction: column;
    }
  }

  &__aside {
    flex-basis: 25%;
    padding: 0 10px;
    background-color: #f9f9f9;

    .aside {
      &__inner {
        padding: 40px 0;
      }

      &__nav {
        @include tablet-and-mobile {
          display: flex;
          flex-direction: row;
        }

        ._link {
          display: block;
          font-size: 20px;
          padding: 10px 30px;
          width: 100%;
          text-align: left;

          &:hover {
            background-color: darken(#f9f9f9, 5%);
          }
        }
      }
    }
  }

  &__main {
    flex-basis: 75%;
    padding: 0 10px;

    .main {
      &__section {
        padding: 30px 20px;
        border-bottom: 1px solid darken(#f5f5f5, 5%);

        ._body {
          margin-top: 20px;

          .row + .row {
            margin-top: 20px;
          }
        }
      }
    }
  }

  &__colors {
    table {
      width: 100%;
      border-collapse: collapse;

      td {
        padding: 14px 0;

        &:nth-child(1) {
          width: 40%;
        }

        &:nth-child(2) {
          width: 30%;
        }

        &:nth-child(3) {
          width: 15%;
        }
      }

      thead {
        td {
          color: transparentize($color-gray-100, 0.2);
          font-size: 12px;
          font-weight: 400;
          line-height: 1;
        }
      }

      tbody {
        td {
          font-size: 15px;
          line-height: 1;
          border-top: 1px solid $color-gray-40;
          border-bottom: 1px solid $color-gray-40;
        }
      }

      span {
        $ui-t-value: 28px;
        display: inline-block;
        width: $ui-t-value;
        height: $ui-t-value;
        border-radius: 50%;
        //box-shadow: 0 0 1px transparentize($color-black, 0.75);

        &.dark {
          border: 1px solid $color-gray-100;
        }
      }

      caption {
        padding: 10px 0;
        color: $color-gray-100;
        @include ui-font-title();
        text-align: left;
      }

      + table {
        margin-top: 35px;
      }
    }
  }
}

.ui {
  &-section {
    &__title {
      @include ui-font-title(30px);
    }
  }
}
