.ui {
  $ui-container-mah: 700px;
  $ui-header-mah: 64px;
  $ui-aside-maw: 250px;
  $ui-container-gutters: 30px;
  $ui-container-gutters-mobile: #{$ui-container-gutters / 2};

  display: flex;
  width: 100%;
  min-height: 100vh;

  &__container {
    flex: 1 1 100%;
    display: flex;
    margin: auto;
    height: 100%;

    @include media(tabletSmall) {
      display: block;
      max-height: initial;
    }
  }

  &__aside {
    position: fixed;
    top: 0;
    left: 0;
    z-index: z(aside);
    width: $ui-aside-maw;
    height: 100vh;
    background: rgba(249, 249, 249, 0.7);
    box-shadow: inset 0 1px 2px transparentize(#fff, 0.3);
    backdrop-filter: blur(80px);
    font-family: Verdana, sans-serif;

    @include media(tabletSmall) {
      display: none;
    }
  }

  &__main {
    flex: 1 1 75%;
    padding: $ui-header-mah 0 0 $ui-aside-maw;

    @include media(tabletSmall) {
      padding: $ui-header-mah 0 0;
    }
  }

  &-aside {
    &__inner {
      padding: 10px 0;
    }

    &__link {
      display: block;
      padding: 10px 20px;
      width: 100%;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.3;
      text-align: left;
      border-radius: 4px;

      &:hover {
        background-color: transparentize(#000, 0.95);
      }
    }

    &__nav {
      li ul {
        li {
          margin-left: 40px;

          button {
            padding: 5px 0;
            font-size: 14px;

            &:hover {
              color: #666;
            }
          }
        }
      }
    }
  }

  &-main {
    background-color: #fff;

    &__header {
      position: fixed;
      top: 0;
      left: $ui-aside-maw;
      right: 0;
      z-index: z(header);
      padding: 15px $ui-container-gutters;
      border-bottom: 1px solid #F2F4F8;
      background-color: #fff;
      font-family: Verdana, sans-serif;

      @include media(tabletSmall) {
        left: 0;
      }

      @include media(mobile) {
        padding: $ui-container-gutters-mobile;
      }
    }

    &__title {
      margin: 0;
      padding: 0;
      font-size: 1.5em;
      line-height: 1.4;
      font-family: Verdana, sans-serif;
    }

    &__content {
      padding: 0 $ui-container-gutters;
      overflow-y: auto;

      > *:first-child {
        margin-top: 30px;
      }

      > * + * {
        margin: 30px 0;
      }

      @include media(tabletSmall) {
        max-height: initial;
      }

      @include media(mobile) {
        padding: 0 $ui-container-gutters-mobile;
      }
    }
  }

  &-section {
    &__title {
      color: #333;
      font-size: 30px;
      font-weight: bold;
      line-height: 1.3;
    }

    &__content {
      margin-top: 20px;

      ul {
        > * + * {
          margin-top: 35px;
        }
      }
    }
  }

  &-colors {
    li {
      @include media(mobile) {
        overflow-x: auto;
        max-width: calc(100vw - 30px);
        @include hide-scrollbar;
      }
    }

    table {
      @include media(mobile) {
        min-width: 675px;
      }

      td {
        &:nth-child(1) {
          width: 40%;

          @include media(mobile) {
            width: calc(100vw - 100px);
          }
        }

        &:nth-child(2) {
          width: 20%;

          @include media(mobile) {
            width: 100px;
            text-align: center;
          }
        }

        &:nth-child(3) {
          width: 20%;
        }
      }
    }
  }

  &-buttons {
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1em;
    }
  }

  .ui-inputs {
    &__container {
      display: flex;
      gap: 1em;

      > * {
        flex: 1 1 100%;
      }

      &--row {
        flex-wrap: wrap;

        > * {
          flex: 1 1 45%;
        }
      }

      &--column {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    td {
      padding: 14px 0;
    }

    thead {
      td {
        color: transparentize(#000, 0.3);
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
      }
    }

    tbody {
      td {
        font-size: 15px;
        line-height: 1;
        border-top: 1px solid #DFE3EC;
        border-bottom: 1px solid #DFE3EC;
      }
    }

    caption {
      padding: 10px 0;
      color: #333;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.3;
      text-align: left;
    }
  }

  &-colors {
    &__item {
      $ui-t-value: 28px;
      display: inline-block;
      width: $ui-t-value;
      height: $ui-t-value;
      border-radius: 50%;

      &.dark {
        border: 1px solid #000;
      }
    }
  }
}

.uikit {
  &-row {
    margin-top: 30px;

    &__content {
      display: flex;
      flex-wrap: wrap;
      margin-top: -30px;
    }

    &__title {
      display: block;
      text-align: left;
      margin-bottom: 10px;
      font-size: 17px;
      font-weight: bold;
    }
  }

  &-cell {
    margin-top: 30px;
    margin-left: -1px;

    &--background {
      .uikit-widget__content {
        background: #efefef;
      }
    }
  }

  &-widget {
    border: 1px solid #ddd;

    &__title {
      padding: 5px 10px;
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 12px;
      font-style: italic;
      font-family: Verdana, sans-serif;
      color: #333;
      text-align: center;
    }

    &__content {
      padding: 5px;

      &-inner {
        margin: 5px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
