{{!404}}

{{> layout/head
    page-title="404"
    page-description="...."
    page-url="https://ozitag.com"
    page-image="https://ozitag.com/content/images/home/og.jpg"
    page-image-16-9="https://ozitag.com/content/images/home/og_16x9.jpg"
    page-image-alt=".."
    page-published-date="2019-02-05T12:01:51+00:00"
    page-modified-date="2020-03-30T09:00:00+03:00"
}}

{{> layout/header }}

<div class="container">
  <h1>404</h1>
  <ul>
    {{> ui/link-example href=links.home.url label=links.home.label}}
    {{> ui/link-example href=links.about.url label=links.about.label}}
    {{> ui/link-example href=links.about-level-2.url label=links.about-level-2.label}}
    {{> ui/link-example href=links.about-level-3.url label=links.about-level-3.label}}
    {{> ui/link-example href=links.404.url label=links.404.label current=true}}
    {{> ui/link-example href=links.ui-toolkit.url label=links.ui-toolkit.label}}
  </ul>
</div>

{{> layout/footer }}
