<div class="btn-list">
  <div class="btn-list__item">
    <i>.btn</i>
    {{> ui/btn label="Button"}}
  </div>

  <div class="btn-list__item">
    <i>.btn-primary</i>
    {{> ui/btn label="Button" color="primary"}}
  </div>

  <div class="btn-list__item">
    <i>.btn-primary-outline</i>
    {{> ui/btn label="Button" color="primary" outline=true}}
  </div>

  <div class="btn-list__item">
    <i>.btn-secondary</i>
    {{> ui/btn label="Button" color="secondary"}}
  </div>

  <div class="btn-list__item">
    <i>.btn-secondary-outline</i>
    {{> ui/btn label="Button" color="secondary" outline=true}}
  </div>
</div>

<div class="btn-list">
  <div class="btn-list__item">
    <i>.btn</i>
    {{> ui/btn label="Button"}}
  </div>

  <div class="btn-list__item">
    <i>.btn-small</i>
    {{> ui/btn label="Button" size="small"}}
  </div>

  <div class="btn-list__item">
    <i>.btn-large</i>
    {{> ui/btn label="Button" size="large"}}
  </div>
</div>

<div class="btn-list__item" style="flex-basis: 100%;">
  <i>.btn .btn-w100</i>
  {{> ui/btn color="primary" w100=true label="Button"}}
</div>

