<div class="ui__colors">
  <div class="_item">
    <span>$color-primary</span>
    <div class="_demo" style="background-color: #00b763">
      <span>#00B763</span>
    </div>
  </div>

  <div class="_item">
    <span>$color-secondary</span>
    <div class="_demo" style="background-color: #FD5800">
      <span>#FD5800</span>
    </div>
  </div>
</div>
