<div class="loader">
  <div class="loader__circle">Loading...</div>

  <div class="row">
    <div class="col-md-6">
      {{> ui/input label='Example label' placeholder='Input placeholder'}}
    </div>

    <div class="col-md-6">
      {{> ui/input label='Example label' input-class='form-error' error=1}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      {{> ui/input label='Example label' placeholder='Input disabled' disabled=1}}
    </div>

    <div class="col-md-6">
      {{> ui/input label='Example label' select=1 placeholder='Choose any one'}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      {{> ui/radio id=1 name='radio1' label='Example label'}}
      <br>
      {{> ui/radio id=2 name='radio1' label='Example label' checked=1}}
    </div>

    <div class="col-md-6">
      {{> ui/checkbox id=3 label='Example label'}}
      <br>
      {{> ui/checkbox id=4 label='Example label' checked=1}}
    </div>
  </div>
</div>

<br /><br />

<div class="loader loader--trans">
  <div class="loader__circle">Loading...</div>
</div>
