<div class="js-circle-progress" data-value="70">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <defs>
      <linearGradient id="circle-progress-gradient" x1="0" y1="100%" x2="0" y2="0">
        <stop offset="0%" stop-color="#FF9457"/>
        <stop offset="100%" stop-color="#FFD02B"/>
      </linearGradient>
    </defs>
    <circle r="40" cx="50" cy="50"
            fill="transparent"
            stroke="#EDEDED"
            stroke-dasharray="258"
            stroke-dashoffset="0"></circle>
    <circle r="40" cx="50" cy="50"
            fill="transparent"
            stroke="url(#circle-progress-gradient)"
            stroke-dasharray="258"
            stroke-dashoffset="0"></circle>
  </svg>
</div>