<div class="ui__colors">
  {{> ui-kit/core/table table-title="Main" table-content=this.colors.main}}
  {{> ui-kit/core/table table-title="Gray" table-content=this.colors.gray}}
  {{> ui-kit/core/table table-title="Apex" table-content=this.colors.apex}}
</div>
