<div class="row">
  <div class="col-sm-6">
    <i style="text-align: left">.form-input</i>
    {{> ui/input label="Ваше имя" placeholder="Иван Иван Иванович"}}
  </div>

  <div class="col-sm-6">
    <i style="text-align: left">.form-input</i>
    {{> ui/input label="Ваш пароль" type="password" placeholder="Не менее 6 символов" error="Неверный пароль" }}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <i style="text-align: left">.form-area</i>
    {{> ui/input textarea=true label="Ваше сообщение" placeholder="Иван Иван Иванович"}}
  </div>
</div>
