<div class="loader">
  <div class="loader__circle">Loading...</div>

  <div class="row">
    <div class="col-md-6">
      {{> ui/form-item input=true label='Example label' placeholder='Input placeholder'}}
    </div>

    <div class="col-md-6">
      {{> ui/form-item input=true label='Example label' input-class='form-error' error=1}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      {{> ui/form-item input=true label='Example label' placeholder='Input disabled' disabled=1}}
    </div>

    <div class="col-md-6">
      {{> ui/form-item input=true label='Example label' select=1 placeholder='Choose any one'}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      {{> ui/form-item radio=true id=1 name='radio1' label='Example label'}}
      <br>
      {{> ui/form-item radio=true id=2 name='radio1' label='Example label' checked=1}}
    </div>

    <div class="col-md-6">
      {{> ui/form-item checkbox=true id=3 label='Example label'}}
      <br>
      {{> ui/form-item checkbox=true id=4 label='Example label' checked=1}}
    </div>
  </div>
</div>

<br /><br />

<div class="loader loader--trans">
  <div class="loader__circle">Loading...</div>
</div>
