* {
  outline: none !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html, body {
  width: 100%;
  min-width: 320px;
}

body {
  &.popup-opened,
  &.menu-opened {
    overflow: hidden;
    overflow-scrolling: touch;

    @include mobile {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &.dark {
    background-color: $dark-color;
  }
}

input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
  @include regular;
  font-size: 13px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance:textfield;
  }

  &::-ms-clear {
    display: none !important;
  }

  &::-ms-reveal {
    display: none !important;
  }
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  @include regular;
  font-size: 12px;
}

main {
  display: block;
}

.hidden-lg {
  @include desktop {
    display: none !important;
  }
}

.hidden-md {
  @include laptop {
    display: none !important;
  }
}

.hidden-sm {
  @include tablet {
    display: none !important;
  }
}

.hidden-xs {
  @include mobile {
    display: none !important;
  }
}

.fixed-scroll {
  overflow: hidden;

  @include mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.scroll-measure {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: -100;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
