@mixin font($family, $name, $weight, $style: 'normal') {
  $font_file_path: $fonts_dir + $family + '/' + $name;

  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    src: url($font_file_path + '.woff') format('woff'),
    url($font_file_path + '.woff2') format('woff2');
    font-display: swap;
  }
}

@mixin font-mixin($font_name) {
  font-family: #{$font_name};
}

@mixin light() {
  font-weight: 300;
}

@mixin regular() {
  font-weight: 400;
}

@mixin medium() {
  font-weight: 500;
}

@mixin semibold() {
  font-weight: 600;
}

@mixin bold() {
  font-weight: 700;
}

@mixin black() {
  font-weight: 900;
}

/* For UI Kit */

// Fonts
@mixin ui-font-title($size: 20px, $weight: bold, $lh: 1.3) {
  color: $color-gray-100;
  font-size: $size;
  font-weight: $weight;
  line-height: $lh;
}
