<div class="popup js-popup" data-popup-id="{{id}}">
  <div class="popup__header">
    <span class="popup__title">{{title}}</span>
    <button class="popup__close js-popup-close"></button>
  </div>
  <div class="popup__content">
    {{> @partial-block }}
  </div>
</div>
