<div class="popup__box" id="example">
    <button class="popup__close js-close-wnd">
        {{> ui/svg name='popup-close'}}
    </button>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea exercitationem laborum nihil nisi odio, officia omnis.
    Accusamus ad aperiam at ea expedita explicabo molestiae quibusdam quis sapiente ullam? Aspernatur assumenda,
    consequatur delectus doloremque earum eum harum ipsum obcaecati odio officia quia ratione reiciendis sunt totam
    voluptas. Accusantium aliquam atque commodi deleniti dignissimos distinctio dolor error id modi molestiae officia
    pariatur, perferendis porro quas quo similique ullam. Debitis deleniti libero placeat possimus voluptatem? Commodi
    consectetur cum debitis ea enim est fugit iusto laboriosam nemo nesciunt nobis perferendis quasi quibusdam quis
    reprehenderit sunt tempora, tempore ullam ut velit veniam vero vitae. Ut.
</div>