.btn-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &__item {
    flex-basis: 20%;
    text-align: left;

    &:last-child {
      margin-right: 0;
    }

    .ui & i {
      text-align: left !important;
    }
  }
}
