<div class="form-checkbox">
  <label class="form-checkbox__label">
    <input type="checkbox" {{#if checked}}checked{{/if}} id="{{id}}"/>
    <span class="form-checkbox__inner">{{{label}}}</span>
  </label>
</div>
