<div class="form-checkbox">
  <label class="form-checkbox__label" for="{{id}}">
    <input type="checkbox" {{#if checked}}checked{{/if}} id="{{id}}"/>
    <div class="form-checkbox__inner">{{{label}}}</div>
  </label>
</div>
