<div class="form-field">
  <label class="form-field__label" for="{{id}}">{{label}}</label>
  <div class="form-field__input">
    {{> @partial-block}}
  </div>
  <span class="form-field__note">{{ note }}</span>
</div>
