<li style="margin-bottom: 15px;">
  <a href="{{#if href}}{{href}}{{else}}#{{/if}}"
     style="font-size: 20px; line-height: 1.4; {{#if current}}color: #00b763;{{else}}color: #007aff;{{/if}}">Link to {{label}}</a>
</li>
