<div class="form-radio">
  <label class="form-radio__label">
    <input type="radio" {{#if checked}}checked{{/if}} name="{{name}}" value="{{value}}"/>
    <div class="form-radio__inner">{{{label}}}</div>
  </label>
</div>
