<div class="form-select">
  <select class="js-select visually-hidden" {{#if placeholder}}data-placeholder="{{placeholder}}"{{/if}} {{#if search}}data-search="1"{{/if}}>
    {{> @partial-block}}
  </select>
</div>
