<div class="form-select form-select--border">
  <select class="js-select visually-hidden {{mod}}" {{#if
          search-empty}}data-select-empty="{{search-empty}}"{{/if}} {{dataset}} {{#if
          name}}name="{{name}}"{{/if}}>
    {{#if empty-value}}
      <option value=""></option>{{/if}}
    {{> @partial-block}}
  </select>
</div>
