$icon-icon-play: 160px 40px -160px -40px 30px 30px 202px 160px 'sprite.png';
$icon-quote: 160px 0px -160px 0px 42px 40px 202px 160px 'sprite.png';
$icon-rounds: 0px 0px 0px 0px 160px 160px 202px 160px 'sprite.png';
$icon-scroll-bot_01: 160px 70px -160px -70px 24px 27px 202px 160px 'sprite.png';
$icon-scroll-bot_02: 160px 97px -160px -97px 20px 32px 202px 160px 'sprite.png';
