.accord {
  &-header {
    &.active + .accord-content {
      display: block;
    }
  }

  &-content {
    display: none;

    &.animate {
      position: relative;
      display: block;
      height: 0;
      overflow: hidden;
      transition: height .32s ease;
    }
  }
}