.dropdown {
  position: relative;

  &.opened {
    .dropdown {
      &__header {
        border-color: #c2c5c8;
      }

      &__box {
        display: block;
      }
    }
  }

  &__header {
    position: relative;
    height: 44px;
    padding: 13px 52px 13px 17px;
    border: 2px solid #e9ecef;
    border-radius: 3px;
    font-size: 14px;
    line-height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    cursor: pointer;

    &--placeholder {
      color: #707070
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  &__box {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    margin-top: 10px;
    min-width: 100%;
    max-width: 250px;
    z-index: 10;

    @include tablet-and-mobile {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin-top: 0;
      z-index: 9999;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.15);

    @include tablet-and-mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 0;
      background: rgba(0, 0, 0, .2);
    }
  }

  &__scroll {
    min-height: 50px;
    max-height: 230px;
    overflow-y: auto;
    overflow-x: hidden;

    @include tablet-and-mobile {
      width: calc(100% - 20px);
      max-height: calc(100% - 20px);
      background: #fff;
    }
  }

  &__list {
    padding: 10px 0;
  }

  &__item {
    display: block;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.03em;
    white-space: nowrap;
    overflow: hidden;
    color: #7a7a7a;
    cursor: pointer;

    &:hover,
    &.highlight {
      color: #000000;
      background-color: #f1f2f5;
    }

    &.hide {
      display: none;
    }
  }
}
