.header {
  &__inner {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  &__logo {
    font-size: 0;

    &-link {

    }

    &-img {
      max-height: 50px;
    }
  }

  &__right {
    margin-left: auto;
  }

  &__nav {
    margin-right: 30px;
  }

  &__action {

  }
}
