.popup-overlay {
  position: fixed;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 10000;
  display: none;
}

.popup {
  z-index: 100001;
  @include align(false,true);
  left: 0;
  width: 100%;
  padding: 50px 0;
  max-height: 100%;
  overflow: auto;
  overflow-x: hidden;

  &-inner {
    margin: 0 auto;
    background-color: #ffffff;
  }
}