.btn {
  $color-primary-hover: $color-blue-80;
  $color-primary-focus: $color-blue-100;
  $color-primary-active: $color-blue-100;

  display: inline-block;
  padding: #{px-to-em(12)} #{px-to-em(25)};
  color: $color-primary;
  font-size: 1rem;
  line-height: 1.25;
  vertical-align: middle;
  text-align: center;
  border-radius: 3px;
  border: 1px solid $color-primary;
  cursor: pointer;
  transition: 0.15s ease-in-out;

  &:hover,
  &--hover {
    color: $color-white;
    background-color: $color-primary-hover;
    border-color: $color-primary-hover;
  }

  &:focus,
  &--focus {
    color: $color-white;
    background-color: $color-primary-focus;
    border-color: $color-primary-focus;
  }

  &:active,
  &--active {
    color: $color-white;
    background-color: $color-primary-focus;
    border-color: $color-primary-focus;
  }

  &--active {
    &:focus {
      color: $color-white;
      background-color: $color-primary-hover;
      border-color: $color-primary-hover;
    }
  }

  &:disabled,
  &--disabled {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
    appearance: none;
  }

  @include btn-color(primary, $color-primary);
  @include btn-color(secondary, $color-secondary);

  &--small {
    font-size: #{px-to-rem(12)};
  }

  &--large {
    font-size: #{px-to-rem(20)};
  }

  &--w100 {
    padding-left: #{px-to-rem(5)};
    padding-right: #{px-to-rem(5)};
    width: 100%;
  }
}


@keyframes clockwise {
  to {
    transform: rotate(360deg) translatez(0);
  }
}
