.btn {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  border-radius: 8px;
  padding: 0 16px;
  color: $color-white;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: bold;
  @include transition;
  white-space: nowrap;

  &--outline {
    border: 1px solid $color-black;
    color: $color-black;

    &:hover {
      background: $color-black;
      color: $color-white;
    }
  }
}
