.form {
  &-field {
    position: relative;

    &__label {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 500;
    }

    &__input {
      width: 100%;
      display: block;
      border: 2px solid transparent;
      padding: 0 17px;
      height: 43px;
      border-radius: 3px;
      background-color: #f8f8f9;

      &:focus {
        border-color: $color-primary;
        background-color: transparent;
      }
    }

    &__message {
      position: absolute;
      top: 100%;
      margin-top: 2px;
      font-size: 12px;
      color: $color-error;
      left: 0;
    }
  }

  &-checkbox,
  &-radio {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &__label {
      position: relative;
      display: flex;
      align-items: center;
      font-size: #{px-to-rem(16)};
      line-height: normal;
    }

    &__input {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
  }

  &-radio {
    $radio-value: 23px;

    &__input {
      width: $radio-value;

      &:checked + * {
        border: 5px solid $color-primary;
      }
    }

    &__icon {
      display: block;
      margin-right: 13px;
      width: $radio-value;
      height: $radio-value;
      border: 2px solid $color-gray-40;
      border-radius: 50%;
    }
  }

  &-checkbox {
    $checkbox-value: 23px;

    &__input {
      width: $checkbox-value;

      &:checked {
        + * {
          background-color: $color-primary;
          border-color: $color-primary;

          > * {
            &::before,
            &::after {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }

    &__icon {
      display: flex;
      align-items: center;
      width: 100%;
      height: auto;
      transform: translateY(4px);

      &::before,
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $color-white;
        visibility: hidden;
        opacity: 0;
      }

      &::after {
        transform: rotate(-45deg);
        transform-origin: left;
        border-radius: 0 5px 5px 0;
      }

      &::before {
        width: 50%;
        transform: rotate(45deg) translateY(-1.5px);
        transform-origin: right;
        border-radius: 5px 0 0 5px;
      }

      &-container {
        display: inline-flex;
        align-items: center;
        margin-right: 13px;
        width: $checkbox-value;
        height: $checkbox-value;
        border: 2px solid $color-gray-40;
        border-radius: 6px;
      }
    }
  }

  &-textarea {
    width: 100%;
    display: block;
    border: 2px solid transparent;
    padding: 12px 17px;
    min-height: 130px;
    border-radius: 3px;
    background-color: #f8f8f9;
    resize: none;

    &:focus {
      border-color: $color-primary;
      background-color: transparent;
    }
  }

  &-switcher {
    $switcher-width: 40px;
    $switcher-value: 15px;
    $switcher-padding: 4px;

    position: relative;
    display: inline-flex;
    min-width: $switcher-width;
    //min-height: 22px;
    border-radius: 46px;
    overflow: hidden;

    &__input {
      @include fill;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 2;
      cursor: pointer;
      border-radius: 100px;

      &:checked + * {
        background-color: $color-primary;

        > * {
          transform: translateX($switcher-width - $switcher-value - ($switcher-padding * 2));

          &::before {
            //@include sprite('switcher-on');
            //animation: switchOnOff 350ms ease forwards;
          }
        }
      }
    }

    &__label {
      flex: 1 1 100%;
      display: flex;
      align-items: center;
      padding: $switcher-padding;
      background-color: $color-gray-100;
      transition: all 350ms ease;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $switcher-value;
        height: $switcher-value;
        background-color: $color-white;
        border-radius: 50%;
        transition: all 350ms ease;

        &::before {
          content: '';
          //@include sprite('switcher-off');
          //animation: switchOnOff 350ms ease forwards;
        }
      }
    }
  }

  &-error {
    * {
      border-color: $color-error;

      &:focus {
        border-color: $color-error;
      }
    }
  }
}
