.radio {
  &-box {
    position: relative;
  }

  &-input {
    &:not(checked) {
      display: none;
    }

    &:checked + .radio-label {
      &:before {
      }

      &:after {
        opacity: 1;
      }
    }

    + .radio-label {
      position: relative;
      padding-left: 25px;
      font-size: 16px;
      line-height: 18px;
      margin: 0;
      color: #888888;
      cursor: pointer;
      display: inline-block;
      vertical-align: top;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -9px;
        width: 18px;
        height: 18px;
        border-radius: 100%;
        background: #fff;
        border: 1px solid #ccc;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 5px;
        margin-top: -4px;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: $color-primary;
        opacity: 0;
        transition: all 0.2s;
      }
    }
  }
}
