<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Название сайта - список страниц</title>
    <style>
        .logo {
            background-color: #000000;
            height: 100px;
            position: relative;
        }
        .logo img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        ol li a {
            font-size: 14px;
            line-height: 20px;
        }
    </style>
</head>
<body>
<div class="logo">
    <img src="../content/images/logo.png" alt=""><br><br>
</div>
<ol>
    <li><a href="home.html">Главная страница</a></li>
</ol>
</body>
</html>
