<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Название сайта - список страниц</title>
</head>
<body>
<img src="../content/images/logo.png" alt=""><br><br>
<a href="home.html">1. Главная страница</a><br><br>
</body>
</html>
