{{!UI Kit}}
{{> layout/head page-title="OZiTAG UI Kit"}}

<main class="ui">
  <div class="ui__container">
    <aside class="ui__aside ui-aside">
      <nav class="ui-aside__inner">
        <ul class="ui-aside__nav">
          <li>
            <button class="ui-aside__link" data-id="colors">Colors</button>
          </li>
          <li>
            <button class="ui-aside__link" data-id="buttons">Buttons</button>
          </li>
          <li>
            <button class="ui-aside__link" data-id="forms">Form Elements</button>
            <ul>
              <li>
                <button data-id="forms-input">Input</button>
              </li>
              <li>
                <button data-id="forms-select">Select</button>
              </li>
              <li>
                <button data-id="forms-checkbox">Checkbox</button>
              </li>
              <li>
                <button data-id="forms-radio">Radio</button>
              </li>
            </ul>
          </li>
          <li>
            <button class="ui-aside__link" data-id="buttons">Widgets</button>
            <ul>
              <li>
                <button data-id="widgets-example">Example</button>
              </li>
            </ul>
          </li>
          <li>
            <button class="ui-aside__link" data-id="features">Features</button>
          </li>
        </ul>
      </nav>
    </aside>
    <section class="ui__main ui-main">
      <header class="ui-main__header">
        <h1 class="ui-main__title">OZiTAG UI Kit</h1>
      </header>
      <div class="ui-main__content">
        {{#> core/ui-kit/section-colors title="Colors" id="colors"}}
          {{> ui-kit/colors}}
        {{/core/ui-kit/section-colors}}

        {{#> core/ui-kit/section title="Buttons" id="buttons"}}
          {{> ui-kit/buttons }}
        {{/core/ui-kit/section}}

        {{#> core/ui-kit/section title="Form Elements" id="forms"}}
          {{> ui-kit/forms }}
        {{/core/ui-kit/section}}

        {{#> core/ui-kit/section title="Widgets" id="widgets"}}
          {{> ui-kit/widgets }}
        {{/core/ui-kit/section}}

        {{#> core/ui-kit/section title="Features" id="features"}}
          {{> ui-kit/features }}
        {{/core/ui-kit/section}}
      </div>
    </section>
  </div>
</main>

{{> popups/example}}

<script defer>
  window.onload = () => {
    const $btn = $('.ui-aside__nav button');

    $btn.on('click', function() {
      const id = $(this).data('id');

      $('html, body').animate({
        scrollTop: $(`#${id}`).offset().top - 70,
      }, 600);
    });
  };
</script>

{{> layout/bottom }}
