{{!Ui Toolkit}}

{{> layout/head }}

<div class="page-ui_toolkit">
    <div class="container">
        <div class="page-ui_toolkit__title">UI Toolkit</div>

        <div class="page-ui_toolkit__section">
            <div class="page-ui_toolkit__section_title">Buttons</div>

            <ul class="page-ui_toolkit__section_list">
                <li><a href="#"></a></li>
                <li><a href="#">{{>svg name="btn-user"}}</a></li>
            </ul>
        </div>


        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>


{{> layout/bottom }}
