{{!UI Kit}}

{{> layout/head page-title="OZiTAG UI Kit" ui-kit="true"}}

<main class="uikit">
  <aside class="uikit-aside js-drawer">
    <div class="js-drawer-container">
      <div class="uikit-aside__heading">
        {{> core/ui-kit/logo }}
      </div>
      <nav class="uikit-aside__content">
        <ul class="uikit-aside__nav js-uikit-autogenerator-append"></ul>
      </nav>
    </div>
  </aside>
  <section class="uikit-main">
    <header class="uikit-header js-uikit-header">
      <button class="uikit-btn js-drawer-toggle" type="button">
        <div class="js-drawer-burger"><span></span></div>
      </button>
      {{> core/ui-kit/title }}
    </header>
    <div class="uikit-content-container">
      <div class="uikit-content js-uikit-autogenerator">
        {{#> core/ui-kit/section-colors title="Colors" id="colors"}}
          {{> ui-kit/colors}}
        {{/core/ui-kit/section-colors}}
        
        {{#> core/ui-kit/section title="Buttons" id="buttons"}}
          {{> ui-kit/buttons }}
        {{/core/ui-kit/section}}
        
        {{#> core/ui-kit/section title="Form Elements" id="forms"}}
          {{> ui-kit/forms }}
        {{/core/ui-kit/section}}
        
        {{#> core/ui-kit/section title="Widgets" id="widgets"}}
          {{> ui-kit/widgets }}
        {{/core/ui-kit/section}}
        
        {{#> core/ui-kit/section title="Features" id="features"}}
          {{> ui-kit/features }}
        {{/core/ui-kit/section}}
      </div>
    </div>
    {{> core/ui-kit/footer }}
  </section>
</main>

{{> popups/example}}

<script defer>
  window.onload = () => {
    const $btn = $('.uikit-aside__nav a[href="#"][data-id]');

    $btn.on('click', function () {
      const id = $(this).data('id');

      $('html, body').animate({
        scrollTop: $(`#${id}`).offset().top - 70,
      }, 600);
    });
  };
</script>

{{> layout/bottom }}
