{{!Ui Toolkit}}

{{> layout/head }}

<div class="page-ui_toolkit">
    <div class="container">
        <div class="page-ui_toolkit__title">UI Toolkit</div>

        <div class="page-ui_toolkit__section">
            <div class="page-ui_toolkit__section_title">Buttons</div>

            <ul class="page-ui_toolkit__section_list">
                <li><a href="#"></a></li>
            </ul>
        </div>
      <div class="page-ui_toolkit__title">UI Toolkit</div>

      <div class="page-ui_toolkit__section">
        <div class="page-ui_toolkit__section_title">Svg icon</div>

        <ul class="page-ui_toolkit__section_list">
          <li>CSS: <i class="icon-user"></i></li>
          <li>Inline: {{>svg name="btn-user" mod="icon-btn-user--red"}}</li>
        </ul>
      </div>


        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>


{{> layout/bottom }}
