.checkbox-container {
  position: relative;

  .checkbox-input {
    &:not(checked) {
      display: none;

      + .checkbox-label {
        position: relative;
        padding-left: 30px;
        line-height: 20px;
        margin: 0;
        cursor: pointer;
        display: inline;
        vertical-align: top;

        &:before {
          content: '';
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          background: #fff;
          border: 1px solid #ccc;
        }

        &:after {
          content: '';
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          transform: translateY(-50%);
          background: transparent;
        }
      }
    }

    &:checked + .checkbox-label {
      &:before {

      }

      &:after {

      }
    }
  }
}