.dropdown-container {
  height: auto !important;
  position: relative;
}

.dropdown-header {
  cursor: pointer;
  position: relative;
  white-space: nowrap;

  a {

  }

  span {
    display: block;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.dropdown-box {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  min-width: 100%;
  background-color: #ffffff;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.25), 0 0 1px 0 rgba(0, 0, 0, 0.25);
  max-height: 300px;
  overflow: auto;
  z-index: 1;

  .dropdown-opened & {
    z-index: 2;
  }

  span {
    display: block;
    white-space: nowrap;

    a {
      display: block;
      color: #000;
      text-transform: none;
      line-height: 30px;
      font-size: 14px;
      padding: 0 10px;

      &:hover {
        color: #000;
        background-color: #f1f2f5;
      }
    }
  }
}