$icons: (sprite: (width: 60px, height: 58px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
form-checkbox-tick: (width: 16px, height: 12px, backgroundX: 0px, backgroundY: 0px),
input-date: (width: 18px, height: 20px, backgroundX: -16px, backgroundY: -12px),
popup-close: (width: 26px, height: 26px, backgroundX: -34px, backgroundY: -32px),
);
